@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');

body {
  font-family: 'Geist';
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*{
  background-color: gray;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  body {
  overflow-y: hidden;
}
