@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');



.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

no-scrollbar::-webkit-scrollbar {
    display: none;
  }


  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
